<!DOCTYPE HTML>
<html>
<head>
<title>大山生态竹酒</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="竹酒,健康酒,生态酒,大山竹酒,大山,酒文化,酒,自然,生态,健康,环保,保健,生态竹酒" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<link href='http://fonts.useso.com/css?family=Lobster' rel='stylesheet'
	type='text/css' />
<link
	href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<link
	href='http://fonts.useso.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic'
	rel='stylesheet' type='text/css' />
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- start-smoth-scrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1200);
		});
	});
</script>
<!--End-smoth-scrolling-->
<link rel="stylesheet" href="css/swipebox.css" />
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		$(".swipebox").swipebox();
	});
</script>
<!--Animation-->
<script src="js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<!--/End-Animation-->


</head>
<body>
	<div class="header head-top " id="home">
		<div class="container">
			<div class="header-top">
				<div class="top-menu">
					<span class="menu"><img src="images/nav.png" alt="" /> </span>
					<ul>
						<li><a href="/">首页</a></li>
						<label>/</label>
						<li><a href="about">简介</a></li>
						<label>/</label>
						<li><a href="products">产品</a></li>
						<label>/</label>
						<li><a href="knowledge" class="active">知识</a></li>
						<label>/</label>
						<li><a href="#">加盟</a></li>
						<label>/</label>
						<li><a href="#">联系我们</a></li>
					</ul>
					<!-- script for menu -->

					<script>
						$("span.menu").click(function() {
							$(".top-menu ul").slideToggle("slow", function() {
							});
						});
					</script>
					<!-- //script for menu -->
				</div>
				<div class="search">
					<form>
						<input type="text" value="Search.." onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = '';}" /> <input
							type="submit" value="" />
					</form>
				</div>

				<div class="clearfix"></div>

			</div>
			<div class="logoother wow bounceIn animated" data-wow-delay="0.4s"
				style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<a href="index.html">竹-酒
					<div>Banmboo wine</div>
				</a>
			</div>

		</div>
	</div>
	<div class="content">
		<div class="services-section">
			<div class="container">
				<h3>竹酒知识</h3>
				<div class="services-grids">
					<div class="service1">
						<div class="col-md-4 services-grid wow bounceInLeft animated"
							data-wow-delay="0.4s"
							style="visibility: visible; -webkit-animation-delay: 0.4s;">
							<a href="images/d5d54d9036469a573ebdf6783728b494.jpg" class="swipebox"><img
								src="images/d5d54d9036469a573ebdf6783728b494.jpg" class="img-responsive" alt="" /></a>
							<h5>什么是鲜竹酒</h5>
							<p>鲜竹里长出来的美酒！ “竹子”全身都是宝，在东南亚被誉为“绿色黄金，植物之王”，竹汁的突出保健作用在东方被视为“神水”；《本草纲目》详细记载了竹子“凉心经，益元气，除热缓脾，养血清爽”的神奇食疗养生作用，竹子在民间有“食用、食养、食补、食疗、食治”之说，这种“药食同源”养生理念开始风靡全球。</p>
							<a href="#" class="button1 hvr-shutter-in-vertical">read more</a>
						</div>
						<div class="col-md-4 services-grid">
							<a href="images/566498171702186277.jpg" class="swipebox"><img
								src="images/566498171702186277.jpg" class="img-responsive" alt="" /></a>
							<h5>鲜竹酒是怎么装进去的</h5>
							<p>有些人说：在竹子边上钻一个孔，然后把酒灌进去，再用胶体封起来就行了。也有人说，竹子有孔，用针直接注射进去就可以了。真的是这样吗？
其实做为熟知竹酒研发和生产加工的小编来说，看到百度知道，360知道，搜搜知道上的很多神回答，小编是妥妥的醉了。回到正题：

其实真正的竹酒不是灌进去的，也不是装进去的。灌进去的酒不是竹酒，它通常只是把竹筒作为一种装酒的容器。真正的竹酒，对四时节气，竹子种类，竹子生长环境，种酒方式，长酒时间长度，采伐竹酒等等都有诸多讲究，目前市面上主要有两种“种酒”方式：

1、在竹子刚长出来的时候，竹子很嫩，可以用普通注射方法将高度基酒或酒浆注射到嫩竹竹腔中，然后随着竹子的生长，酒吸取露水和竹子里的营养成分，酿成竹酒。这种普通方法对大多数厂家都比较适用，也没有相当高的技术要求，但是只能长竹笋的春季可以种酒，随着竹子长大坚硬，其他季节就无法种酒了。

2、采用微创高压专利技术，将高度高粱酒调和18味中草药的有效成分，注射到竹子中，然后参与竹子的生命循环的光合作用，吸取清晨的露水和竹子里的营养成分，祛除酒里的涩味和甲醇有害成分，最终酿成竹酒。目前掌握这个技术的只有绿之韵酒业这一家，它可以兼顾普通种酒方法的所有优势，也可以一年四季种酒。</p>
							<a href="#" class="button1 hvr-shutter-in-vertical">read more</a>
						</div>
						<div class="col-md-4 services-grid wow bounceInRight animated"
							data-wow-delay="0.4s"
							style="visibility: visible; -webkit-animation-delay: 0.4s;">
							<a href="images/p11.jpg" class="swipebox"><img
								src="images/p11.jpg" class="img-responsive" alt="" /></a>
							<h5>鲜竹酒的功效</h5>
							<p>竹筒酒选用两年野生孟宗竹，运用独创技术，将台湾优质原浆酒灌入活竹内，自然生长，天然密封，饱吸竹子精华，人间美酒！鲜竹酒饱吸天然竹汁、竹叶多糖、竹叶黄酮、竹叶抗氧化物、硒、锌、铁、钙、镁、多种维生素和氨基酸等活性成份。是一款比白酒更香、更纯、更环保的原生态健康酒品！
竹子林天露酒适量饮之，有舒筋活络，提高免疫力，软化血管，抗衰老，抗疲劳，延年益寿之功效。亲朋聚会，击竹共饮，使人有种翠竹林中曲水流觞的惬意和快感。</p>
							<a href="#" class="button1 hvr-shutter-in-vertical">read more</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="service-section">
			<div class="container">
				<h3>我们提供的服务</h3>
				<div class="service-grids">
					<div class="col-md-4 service-grid wow bounceInLeft animated"
						data-wow-delay="0.4s"
						style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<img src="images/icon1.png" class="img-responsive" alt="/" />
						<h4>农业发展</h4>
						<p>Cras consequat iaculis lorem, id vehicula erat mattis quis.
							Vivamus laoreet velit justo, in ven e natis purus.Praesent nec
							sagittis mauris. Fusce convallis nunc neque.Integer
							egestas.Vivamus laoreet velit justo</p>
					</div>
					<div
						class="col-md-4 service-grid wow fadeInUpBig animated animated"
						data-wow-delay="0.4s">
						<img src="images/icon2.png" class="img-responsive" alt="/" />
						<h4>竹酒养生</h4>
						<p>Cras consequat iaculis lorem, id vehicula erat mattis quis.
							Vivamus laoreet velit justo, in ven e natis purus.Praesent nec
							sagittis mauris. Fusce convallis nunc neque.Integer
							egestas.Vivamus laoreet velit justo</p>
					</div>
					<div class="col-md-4 service-grid wow bounceInRight animated"
						data-wow-delay="0.4s"
						style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<img src="images/icon3.png" class="img-responsive" alt="/" />
						<h4>生态旅游</h4>
						<p>Cras consequat iaculis lorem, id vehicula erat mattis quis.
							Vivamus laoreet velit justo, in ven e natis purus.Praesent nec
							sagittis mauris. Fusce convallis nunc neque.Integer
							egestas.Vivamus laoreet velit justo</p>
						`
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	<div class="categories-section">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-4 up wow bounceInLeft animated"
					data-wow-delay="0.4s"
					style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h3>公司高管</h3>
					<div class="up1">
						<div class="up-img">
							<img src="images/20151125174002.jpg" />
						</div>
						<div class="up-text">
							<a href="#">张小帅</a>
							<p>帅气逼人.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="up1">
						<div class="up-img">
							<img src="images/20151125174002.jpg" />
						</div>
						<div class="up-text">
							<a href="#">王小帅</a>
							<p>帅得掉渣.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="up1">
						<div class="up-img">
							<img src="images/20151125174002.jpg" />
						</div>
						<div class="up-text">
							<a href="#">刘老帅</a>
							<p>一帅到底.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 cat wow bounceIn animated"
					data-wow-delay="0.4s"
					style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h3>类别</h3>
					<ul>
						<li>经典窖藏-大山竹酒.</li>
						<li>精装版-大山竹酒</li>
						<li>豪华版-大山竹酒</li>
						<li>钻石版-大山竹酒</li>
						<li>20年陈酿-大山竹酒</li>
						<li>50年陈酿-大山竹酒</li>
						<li>80年陈酿-大山竹酒</li>
					</ul>
				</div>
				<div class="col-md-4 cont wow bounceInRight animated"
					data-wow-delay="0.4s"
					style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h3>联系我们</h3>
					<ul>
						<li><i class="phone"></i></li>
						<li><p>1-000-000-0000</p>
							<p>1-000-000-0000</p></li>
					</ul>
					<ul>
						<li><i class="smartphone"></i></li>
						<li><p>李先生 18142690910</p></li>
					</ul>
					<ul>
						<li><i class="message"></i></li>
						<li><a href="mailto:example@mail.com">bcdefg@hijs.dfh</a> <a
							href="mailto:example@mail.com">fjashfaf@jkfs.ckd</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="footer-section">
		<div class="container">
			<div class="footer-top">
				<div class="social-icons wow bounceInLeft animated"
					data-wow-delay="0.4s"
					style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<a href="#"><i class="icon1"></i></a> <a href="#"><i
						class="icon2"></i></a> <a href="#"><i class="icon3"></i></a> <a
						href="#"><i class="icon4"></i></a>
				</div>
			</div>
			<div class="footer-middle wow fadeInDown Big animated animated"
				data-wow-delay="0.4s">
				<div class="bottom-menu">
					<ul>
						<li><a href="#index.html">首页</a></li>
						<li><a href="#about.html">简介</a></li>
						<li><a href="#services.html">产品</a></li>
						<li><a href="#products.html">知识</a></li>
						<li><a href="#blog.html">加盟</a></li>
						<li><a href="#contact.html">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom wow bounceInRight animated"
				data-wow-delay="0.4s"
				style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<p>Copyright 2015-2016.大山农业发展有限公司 版本所有.</p>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
					};
					 */

					$().UItoTop({
						easingType : 'easeOutQuart'
					});

				});
			</script>
			<a href="#" id="toTop" style="display: block;"> <span
				id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
	</div>

</body>
</html>
